html {
  font-family: Roboto, sans-serif;
  font-size: 11px;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, $card-size);
  justify-content: center;
  gap: 50px 48px;
  margin: 50px auto;
}

@media screen and (min-width: 1024px) {
  .container {
    grid-template-columns: repeat(4, $card-size);
  }
}
